/tmp
/out-tsc
.nuxt
.output
.DS_Store

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml
.vscode/*
/.run/
/test-results/
/.data/
**/.data/
